# ----------------------------------------
# PNPM-specific configuration settings
# See https://pnpm.io/npmrc for details
# ----------------------------------------
auto-install-peers=true
dedupe-peer-dependents=true
hoist-pattern=['*'] # hoist all packages
hoist-workspace-packages=true
hoist=true
public-hoist-pattern=['*'] # hoist all packages
shamefully-hoist=true
